article{
	text-align: center;
	margin: 0 auto;
}

svg{
	border: 1px solid #efefef;
	border-radius: 5px;
}
text{
	fill: #333333;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

@media (max-width: 400px){
	text{
		font-size: .6em!important;	
	}
}

@media (min-width: 401px){
	text{
		font-size: .9em!important;	
	}
}

@media (min-width: 768px){
	text{
		font-size: 1.2em!important;	
	}
}